.omdb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  align-items: flex-start;
}

.omdb > div {
  border: 2px solid grey;
  border-radius: 20px;
  background-color: rgb(240, 240, 238);
  text-align: center;
  flex: 1 auto;
}

.buttons {
  border: 2px solid rgb(104, 103, 103);
  border-radius: 20px;
}
